<body>
    <h3>Subject Edit</h3>
    
    <div class="container">
      <form >
        <label for="sub_id">Subject ID</label>
        <input type="text" id="sub_id" name="sub_id"><!-- make it disabled -->

        <!-- auto populate below fields using data from backend and interpolation concept -->
        <label for="sub_name">Subject Name</label>
        <input type="text" id="sub_name" name="sub_name">
    
        <label for="subject">Subject Description</label>
        <textarea id="subject_desc" name="subject_desc" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
